@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");

html {
  scroll-behavior: smooth;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monomaniac One", sans-serif;
  font-family: "Aoboshi One", serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --secondColor: rgb(59, 129, 18);
  --textColor: antiquewhite;
}
.myLogo {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: 22px;
  color: var(--textColor);
  text-shadow: rgb(0, 0, 0) 2px 0 10px;
}

.logoText:hover {
  font-weight: 900;
  transition: 0.7s;
}

@keyframes textclip {
  to {
    background-position: 400% center;
  }
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  background-color: none;
  z-index: 9;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 100;
}

nav a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3.28rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 18px;
  text-shadow: black 2px 0 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 100px;
  color: var(--textColor);
  text-decoration: none;
  font-family: "Monomaniac One", sans-serif;
}
.myLogo {
  margin-right: 10px;
}

header .nav-btn {
  display: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  color: var(--textColor);
  border: none;
  outline: none;
  opacity: 0;
  font-size: 1.6rem;
}

nav a:hover,
.navbar-logo:hover {
  scale: 1.07;
  text-shadow: rgba(0, 0, 0, 0.897) 2px 0 30px;
  font-weight: bold;
  transition: 0.5s;
}

.scroll-nav {
  background: linear-gradient(rgba(59, 129, 18, 0.603), rgba(0, 17, 0, 0.9));
  transition: 1s ease-in-out;
}

@media only screen and (max-width: 1044px) {
  header .nav-btn {
    display: flex;
    visibility: visible;
    opacity: 1;
    font-size: 22px;
  }

  header {
    padding: 0 1.5rem;
    padding-left: 15px;
    justify-content: space-between;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.623),
        rgba(1, 8, 109, 0),
        rgba(0, 0, 0, 0.623)
      ),
      url(/img/menuBackground.jpg);
    background-size: cover;
    background-position: center;
    transform: translateY(-100vh);
    transition: 0.5s ease;
    z-index: 20;
  }

  .logoText {
    font-size: 18px;
  }

  header .toggle_nav {
    transform: none;
    width: 100vw;
  }

  .navbar-logo {
    margin-left: 0px;
    justify-content: center;
  }

  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    font-size: 20px;
    text-align: center;
    border-top: solid 1px antiquewhite;
    border-bottom: solid 1px antiquewhite;
    border-left: solid 1px antiquewhite;
    border-right: solid 1px antiquewhite;
    margin: 0px 20px 0px 20px;
    box-shadow: rgba(161, 201, 16, 0.178) 2px 2px 50px;
  }

  nav a:hover {
    box-shadow: inset 1024px 0 10px 0 rgba(161, 201, 16, 0.178);
    background: rgba(0, 0, 0, 0.63);
    background-size: cover;
    text-shadow: black 2px 0 10px;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    scale: 1.05;
    transition: 1.2s;
  }

  nav .nav-close-btn {
    font-size: 22px;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  nav .nav-close-btn:hover,
  .nav-btn:hover {
    color: rgb(172, 51, 21);
  }
}
